<!DOCTYPE html>

<html>
    <head>
    <link href="\css\styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    </head>
    <body class="body">
        <H1></H1>
    </body>

    <footer class= "footer"> 
      <H1 class="titulo">BE ELEGANT MEN</H1>
      <li class="lista">
        <ul><a class="link" href="#">Tienda</ul></a>
        <ul><a class="link" href="#">Historia</ul></a>
        <ul><a class="link" href="#">Contacto</ul></a>
        <ul><a class="link" href="#">Ayuda</ul></a>
    </li>

    <div class="social">
    <ul class="icon-list">
        <li><a href="#"></li><i class="fab fa-instagram"></i></a>
        <li><a href="#"></li><i class="fab fa-facebook"></i></a>
        <li><a href="#"></li><i class="fab fa-pinterest"></i></a>
        <li><a href="#"></li><i class="fab fa-twitter"></i></a>
    </ul>
    </div>
    <div class="derechos">
        <ul>© 2022 Be Elegant Men</ul>
        <ul>Terminos de servicio</ul>
        <ul>Politica de privacidad</ul>
        

    </div>


    </div>



    </footer>

</html>