.mainCart {
    padding: 2.5%;
    background-color: rgb(41, 40, 40);
}

.cuerpoCart {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5%;
    border-radius: 15px;
    margin: auto;
    width: 80%;
    background-color: #0e141a;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
}

.cuerpoCart h1 {
    color: aliceblue;
    margin: auto;
    margin-bottom: 3%;
}

.cuerpoCart h3, p {
    color: aliceblue;
}

.articleProducto {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 5%;
    padding: 2%;
    width: 90%;
    border-radius: 15px;
    background-color: #0e141a;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
}

.divDetalle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
}

.divDetalle div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.divDetalle img {
    width: 15%
}

.articleTotal {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 4%;
    width: 25%;
    padding: 1%;
    border-radius: 15px;
    background-color: #0e141a;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
}

.removeButton {
    width: 45%;
    text-align: center;
    background-color: #0e141a;
    color:#adb1b5;
    font-size: 1rem;
    padding: 1%;
    margin: auto;
    margin-top: 1em;
    border: 2px solid #adb1b5;;
    border-radius: .5rem;
    cursor: pointer;
    white-space: nowrap;
}

.removeButton:hover {
    box-shadow: .10rem .10rem 1rem #adb1b5,
    -.10rem -.10rem 1rem #ccc;
    
}

.removeButton:active {
    box-shadow: inset .10rem .10rem 1rem #adb1b5,
    inset -.10rem -.10rem 1rem #ccc;
}

.shopButton {
    width: 15%;
    text-align: center;
    background-color: #0e141a;
    color:#adb1b5;
    font-size: 1rem;
    padding: 1%;
    margin: auto;
    margin-top: 1em;
    border: 2px solid #adb1b5;;
    border-radius: .5rem;
    cursor: pointer;
    white-space: nowrap;
}

.shopButton:hover {
    box-shadow: .10rem .10rem 1rem #adb1b5,
    -.10rem -.10rem 1rem #ccc;
    
}

.shopButton:active {
    box-shadow: inset .10rem .10rem 1rem #adb1b5,
    inset -.10rem -.10rem 1rem #ccc;
}

/* mediasquerys */

@media (max-width: 479px) {

}
      
@media (min-width: 480px) and (max-width: 799px) {

}
    
@media (min-width: 800px) and (max-width: 1023px) {

}
    
@media (min-width: 1024px) {

}