.footer{
    display: flex;
    background-color: #0e141a;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
}

.titulo{
    text-align: center;
    font-size: 3rem;
}

.lista , .derechos , .iconList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 2%;
}

.iconos{
    color: inherit;
    margin: 0 1%;
    font-size: 1rem;
}

.texto{
    color: inherit;
    margin: 0 1%;
    font-size: 1rem;
}

.fa-pinterest , .fa-facebook , .fa-instagram , .fa-twitter {
    color: #ffffff;
}

/* mediasquerys */

@media (max-width: 479px) {
    .titulo{
        font-size: 1rem;
    }
    .iconos{
        margin: 0 1.4%;
        font-size: 0.5rem;
    }
    .texto{
        margin: 0 1.4%;
        font-size: 0.5rem;
    }
}
      
@media (min-width: 480px) and (max-width: 799px) {
    .titulo{
        font-size: 1.5rem;
    }
    .iconos{
        margin: 0 1.2%;
        font-size: 0.8rem;
    }
    .texto{
        margin: 0 1.2%;
        font-size: 0.8rem;
    }
}
    
@media (min-width: 800px) and (max-width: 1023px) {

}
    
@media (min-width: 1024px) {

}

