.footer{
    display: flex;
    background-color: #0e141a;
    text-align: center; 
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
}

.titulo{
    text-align: center;
    font-size:  3rem;
}

.lista , .derechos , .iconList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 2%;
}

.iconos{
    color: inherit;
    margin: 0 1%;
}

.texto{
    color: inherit;
    margin: 0 0.25%;
}

.fa-pinterest , .fa-facebook , .fa-instagram , .fa-twitter {
    color: #ffffff;
}


@media (max-width: 479px) {
    .lista , .derechos , .iconList {
        display: block;
    }
    .titulo{
        font-size: 2rem;
    }
}

