header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #0e141a;
}

.sectionHeaderSuperior {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

h2 a {
  color: #fff;
  text-decoration: none;
  margin-left: -15%;
}

.contenedorImg {
    width: 15%;
}

.imgLogo {
    width: 100%;
    margin: auto;
    display: block;
}

.imgLogo:hover {
    transform: rotateX(360deg);
    transition-property: transform;
    transition-duration: 2s;
}

@keyframes logo-header {
    0% { transform: rotateX(0deg);}
    25% { transform: rotateX(90deg);}
    50% { transform: rotateX(180deg);}
    75% { transform: rotateX(270deg);}
    100% { transform: rotateX(360deg);}
}

.imgLogo {
    animation: logo-header 2s 1;
}

.divBusqueda {
  float:right;
  margin:7px;
  margin-top: 15px;
  margin-left: 15px;
}

.divBusqueda input {
  width:375px;
  height:25px;
  border-radius:25px;
  border: none;
}

.divBusqueda button {
  background-color: #0e141a;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-top: 0px;
  margin-right: 18px;
  border: none;
  cursor: pointer;
} 

.divBusqueda i {
  margin-top: -3px;
  font-size: 22px;
}

.navbarUsuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.navbarUsuario i {
    color: #fff;
    font-size: 22px;

    display:block;
    -webkit-transition:-webkit-transform 0.2s ease-out;
    -moz-transition:-moz-transform 0.2s ease-out;
    -o-transition:-o-transform 0.2s ease-out;
    -ms-transition:-ms-transform 0.2s ease-out;
    transition:transform 0.2s ease-out;
}

.navbarUsuario i:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.navbarCategorias {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1%;
}

.navbarCategorias a {
  color: #dae0ed;
  font-size: 1.2em;

  display:block;
  -webkit-transition:-webkit-transform 0.2s ease-out;
  -moz-transition:-moz-transform 0.2s ease-out;
  -o-transition:-o-transform 0.2s ease-out;
  -ms-transition:-ms-transform 0.2s ease-out;
  transition:transform 0.2s ease-out;
}

.navbarCategorias a:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.navbarUsuario a {
  color: #dae0ed;
  font-size: 1.2em;

  display:block;
  -webkit-transition:-webkit-transform 0.2s ease-out;
  -moz-transition:-moz-transform 0.2s ease-out;
  -o-transition:-o-transform 0.2s ease-out;
  -ms-transition:-ms-transform 0.2s ease-out;
  transition:transform 0.2s ease-out;
}

.navbarUsuario a:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

/* menu hamburguesa  */

.menuHamburguesa ul{
  display: none;
}

.menuHamburguesa input:checked  ~ ul{
  display:block;
}

.menuHamburguesa input {
  display: none;
}

.menuHamburguesa i{
  color: #fff;
  background-color: #0e141a;
}

.menuHamburguesa label {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  text-align: center;

  display:block;
  -webkit-transition:-webkit-transform 0.2s ease-out;
  -moz-transition:-moz-transform 0.2s ease-out;
  -o-transition:-o-transform 0.2s ease-out;
  -ms-transition:-ms-transform 0.2s ease-out;
  transition:transform 0.2s ease-out;
}

.menuHamburguesa label:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.menuHamburguesa ul{
  margin-top:0;
  padding: 0;
  width: 50px;
  position: absolute;
}

.menuHamburguesa li {
  display: block;
  background: #0e141a; 
  margin: 0;
  padding: 10px;
  list-style: none;
}

.menuHamburguesa li a{
  color: #fff;
}

.menuHamburguesa li i{
  font-size: 15px;
  text-align: center;

  display:block;
  -webkit-transition:-webkit-transform 0.2s ease-out;
  -moz-transition:-moz-transform 0.2s ease-out;
  -o-transition:-o-transform 0.2s ease-out;
  -ms-transition:-ms-transform 0.2s ease-out;
  transition:transform 0.2s ease-out;
}

.menuHamburguesa li i:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
} 


/* mediasquerys */

@media (max-width: 479px) {

  .navbarCategorias a {
    font-size: 0.7em;
  }
  .navbarUsuario  {
    display: none;
  }
  .sectionHeaderSuperior h2 {
    display: none;
  }
  .contenedorImg {
    width: 25%;
  }
  .divBusqueda {
    margin-left: 0px;
  }
  .divBusqueda input {
    width:130px;
  }
  .divBusqueda input {
    height:20px;
  }
  .divBusqueda button {
    margin: auto;
    height:15px;
  }
}

@media (min-width: 480px) and (max-width: 799px) {

  .navbarCategorias a {
    font-size: 1em;
  }
  .navbarUsuario  {
    display: none;
  }
  .sectionHeaderSuperior h2 {
    display: none;
  }
  .contenedorImg {
    width: 20%;
  }
  .divBusqueda {
    margin-left: -35px;
  }
  .divBusqueda input {
    width:240px;
  }
  .divBusqueda input {
    height:20px;
  }
  .divBusqueda button {
    height:15px;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .menuHamburguesa {
    display: none;
}

h2 a {
  margin-left: -10%;
}

.divBusqueda input {
  width:275px;
}
}

@media (min-width: 1024px) {
  .menuHamburguesa {
    display: none;
  }
}