.container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    background-color: black;
}

.producto a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 10px rgb(224 197 51 / 73%);
}

.producto img {
    width: 400px;
    height: 500px;
    margin: 5px;
}

.seccion-marcas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.seccion-marcas img {
    width: 8%;
}

.producto{
    margin: 2% 2%;
    display:block!important;
    -webkit-transition:-webkit-transform 0.5s ease-out;
    -moz-transition:-moz-transform 0.5s ease-out;
    -o-transition:-o-transform 0.5s ease-out;
    -ms-transition:-ms-transform 0.5s ease-out;
    transition:transform 0.5s ease-out;
}

.producto:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.producto p {
    font-size: 18px;
    font-weight: bold;
    color:#adb1b5
 }
    