
.container-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.producto a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.producto img {
    width: 350px;
    height: 500px;
}

main h2 {
    text-align: center;
}
    





