.mainListProducts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0%;
    background-color: rgb(41, 40, 40);
}

.sectionProductos {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 70%;
}

.linkProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
    width: 25%;
    height: 350px;
    margin: 2%;
    color: #adb1b5;
    text-decoration: none;
    background-color: #0e141a;
    border-radius: 15px;

    display:block;
    -webkit-transition:-webkit-transform 0.5s ease-out;
    -moz-transition:-moz-transform 0.5s ease-out;
    -o-transition:-o-transform 0.5s ease-out;
    -ms-transition:-ms-transform 0.5s ease-out;
    transition:transform 0.5s ease-out;
}

.linkProducto:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.linkProducto img {
    width:80%;
    height: 70%;
    align-content: space-between;
    margin-left: 4vh;
    margin-top: 2vh;
}

.linkProducto div {
    width:100%;
    height: 30%;
    margin-top: 10%;
    align-self: flex-start;
}

.linkProducto div p {
    margin: 3%;
    font-size: 18px;
    margin-left: 4vh;
    margin-bottom: 1.5vh;
    margin-top: -2vh;
}

/* mediasquerys */

@media (max-width: 479px) {

}
  
@media (min-width: 480px) and (max-width: 799px) {

}
  
@media (min-width: 800px) and (max-width: 1023px) {

}
  
@media (min-width: 1024px) {

}