.cuerpo-login {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid #dae0ed;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

.formulario-login {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;
}

.formulario-login input {
    width: 48%;
    height: 30px;
    margin-bottom: 3%;
}

.formulario-login button {
    width: 30%;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
}

.cuerpo-login a {
    margin-top: 2%;
}