.cuerpo-productDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    padding: 5%;
    margin-right: 0%;
}

.cuerpo-productDetail h2 {
    color: black;
}

.sec-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
}

.galeriaProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    width: 10%;
    height: 40rem;
}

.galeriaProducto img {
    margin: 5% 0;
    width: 4rem;
    height: 4rem;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
}

.imagenPrincipal {
    width: 30rem;
    height: 40rem;
    border-radius: 15px;
}

.opcionesProducto {
    width: 35%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2rem;
    height: 40rem;
}

.div-categoria-favoritos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.div-puntuacion {
    margin: 1rem 0;
}

.nombreProducto {
    margin: 0 0;
}

.div-precio-descuento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.div-precio-descuento p{
    margin-left: 4%;
}

.div-envio {
    margin-bottom: 1rem;
}

.div-envio p {
    width: 100%;
}

.form-carrito label {
    color: black;
}

.form-carrito button {
    width: 15rem;
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
    background-color: #0e141a;
    color: #fff;
    font-size: 1rem;
    border: 2px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, 
        -.5rem -.5rem 1rem #fff;
}

.form-carrito button:hover {
    box-shadow: .5rem .5rem 1rem #fff, 
    -.5rem -.5rem 1rem #ccc;
}

.form-carrito button:active {
    box-shadow: inset .2rem .2rem 1rem #fff, 
    inset -.2rem -.2rem 1rem #ccc;
}

.botonera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.botonera button {
    width: 10rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #0e141a;
    color: #fff;
    font-size: 1rem;
    padding: .5rem;
    border: 2px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, 
        -.5rem -.5rem 1rem #fff;
}

.botonera button:hover {
    box-shadow: .5rem .5rem 1rem #fff, 
    -.5rem -.5rem 1rem #ccc;
}

.botonera button:active {
    box-shadow: inset .2rem .2rem 1rem #fff, 
    inset -.2rem -.2rem 1rem #ccc;
}

.sec-detallesProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90vw;
    padding: 1.5rem;
}

.sec-detallesProducto h2,p {
    width: 45%;
    text-align: left;
}

.sec-productosRelacionados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90vw;
}

.sec-productosRelacionados picture{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.sec-productosRelacionados img{
    width: 20%;
}

.sec-productosRelacionados h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}