.mainProfile {
    padding: 2.5%;
    background-color: rgb(41, 40, 40);
}

.cuerpoProfile {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5%;
    border-radius: 15px;
    margin: auto;
    width: 60%;
    background-color: #0e141a;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
}

.contenedorAvatar {
    width: 20%;
}

.avatar {
    width: 100%;
    border-radius: 50%;
}

.sectionDatos {
    width: 90%;
    margin-left: 5%;
}

.sectionDatos label {
    color:#adb1b5;
}

.sectionDatos div {
    margin-bottom: 1%;
    margin-top: 2%;
}

.sectionDatos fieldset {
    margin-bottom: 1%;
    color:#adb1b5;
}

.sessionButton {
    margin-top: 2%;
    width: 12rem;
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
    background-color: #0e141a;
    color:#adb1b5;
    font-size: 1rem;
    border: 2px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
}

.sessionButton:hover {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

.sessionButton:active {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

.formButton {
    margin-top: 2%;
    width: 8rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding: .5rem;
    text-align: center;
    background-color: #0e141a;
    color:#adb1b5;
    font-size: 1rem;
    border: 2px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
}

.formButton:hover {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

.formButton:active {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

/*estilo para el input file*/

.fileSelectProfile {
    position: relative;
    display: inline-block;
}

.fileSelectProfile::before {
    background-color: #0e141a;
    color: #adb1b5;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 60%;
    content: 'Cambiar';
    position: absolute;
    left: 15%;
    right: 0;
    top: 30%;
    bottom: -35%;
    padding-bottom: 1em;
    padding-top: 10px;
}

.fileSelectProfile input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}

.editButton {
    width: 60%;
    position: absolute;
    left: 15%;
    right: 0;
    top: 1cm;
    
}