.cuerpo-register {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid #dae0ed;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.formulario-register {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;
}

.formulario-register section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}

.formulario-register section input {
    width: 48%;
    height: 30px;
}

.formulario-register section .input-email {
    width: 100%;
}

.formulario-register section button {
    width: 30%;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
}