.mainRegister {
    padding: 4%;
    background-color: rgb(41, 40, 40);
}

.cuerpoRegister {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid #0b335b ;
    border-radius: 15px;
    margin: auto;
    background-color: #0e141a;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
}

.cuerpoRegister h1 {
    font-size: 2rem;
    color:#adb1b5;
}

.formularioRegister {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;
}

.formularioRegister div {
    width: 100%;
    margin-bottom: 3%;
}

.formularioRegister section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.formularioRegister section input {
    width: 100%;
    margin-bottom: 2%;
    height: 30px;
}

.formularioRegister button {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    text-align: center;
    background-color: #0e141a;
    color:#adb1b5;
    font-size: 1rem;
    padding: 1%;
    border: 2px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
}

.formularioRegister button:hover {
    box-shadow: .10rem .10rem 1rem #adb1b5,
    -.10rem -.10rem 1rem #ccc;
    
}

.formularioRegister button:active {
    box-shadow: inset .10rem .10rem 1rem #adb1b5,
    inset -.10rem -.10rem 1rem #ccc;
}

.registerAvatarUpload {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.registerAvatarUpload>input {
    display: none;
}

.registerAvatarUpload h4 {
    color: #adb1b5;
    margin: 0%;
}

.registerAvatarUpload i {
    color: #adb1b5;
    margin-left: 60%;
    transition: all 1s ease;
}

.registerAvatarUpload i:hover {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

.registerAvatarUpload i:active {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

@media (max-width: 479px) {
    .cuerpoRegister {
        width: 90%;
    }
}
  
@media (min-width: 480px) and (max-width: 799px) {
    .cuerpoRegister {
        width: 75%;
    }
}
  
@media (min-width: 800px) and (max-width: 1023px) {

}
  
@media (min-width: 1024px) {

}