.cuerpo-register {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border: 1px solid #0b335b ;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.formulario-register {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;
}

.formulario-register section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}

.formulario-register section input {
    width: 48%;
    height: 30px;
}

.formulario-register section .input-email {
    width: 100%;
}



.formulario-register button {
    width: 30%;
    text-align: center;
    background-color: #0b335b;
    color: #fff;
    font-size: 1rem;
    padding: 1%;
    border: 2px solid;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc, 
        -.5rem -.5rem 1rem #fff;
}

.formulario-register button:hover {
    box-shadow: .5rem .5rem 1rem #fff, 
    -.5rem -.5rem 1rem #ccc;
    
}

.formulario-register button:active {
    box-shadow: inset .2rem .2rem 1rem #fff, 
    inset -.2rem -.2rem 1rem #ccc;
}