@import url('header.css');
@import url('login.css');
@import url('register.css');
@import url('footer.css');
@import url('productDetail.css');
@import url('homeBody.css');
@import url('cart.css');

/*  
Paleta de colores

: #0b335b
: #dae0ed
: #035c5c 
*/

* {
    list-style-type: none;
    text-decoration: none;    
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Playfair Display', serif;
}





