.mainCreateProduct {
    padding: 4%;
    background-image: url(../img/background/background.jpg);
}

.cuerpoCreateProduct {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border-radius: 15px;
    margin: auto;
    background-color: #0e141a;
    box-shadow: 0px 0px 10px rgb(209, 208, 204);
}

.cuerpoCreateProduct h1{
    color:#adb1b5;
}

.formularioCreateProduct {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 2%;
}

.formularioCreateProduct div {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.formularioCreateProduct label {
    margin-right: 2%;
    color:#adb1b5;
}

.formularioCreateProduct section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.formularioCreateProduct section input {
    width: 100%;
    height: 30px;
}

.formularioCreateProduct button {
    width: 45%;
    text-align: center;
    background-color: #0e141a;
    color:#adb1b5;
    font-size: 1rem;
    padding: 1%;
    margin-top: 1em;
    border: 2px solid #adb1b5;;
    border-radius: .5rem;
    cursor: pointer;
    white-space: nowrap;
}

.formularioCreateProduct button:hover {
    box-shadow: .10rem .10rem 1rem #adb1b5,
    -.10rem -.10rem 1rem #ccc;
}

.formularioCreateProduct button:active {
    box-shadow: inset .10rem .10rem 1rem #adb1b5,
    inset -.10rem -.10rem 1rem #ccc;
}

.createProductFotosUpload {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.createProductFotosUpload>input {
    display: none;
}

.createProductFotosUpload p {
    color: #adb1b5;
    margin: 0%;
}

.createProductFotosUpload i {
    color: #adb1b5;
    margin-left: 60%;
    transition: all 1s ease;
}

.createProductFotosUpload i:hover {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

.createProductFotosUpload i:active {
    box-shadow: .10rem .10rem 1rem #fff, 
    -.10rem -.10rem 1rem #ccc;
}

/* mediasquerys */

@media (max-width: 479px) {
    .cuerpoCreateProduct {
        width: 90%;
    }
}
  
@media (min-width: 480px) and (max-width: 799px) {
    .cuerpoCreateProduct {
        width: 75%;
    }
}
  
@media (min-width: 800px) and (max-width: 1023px) {

}
  
@media (min-width: 1024px) {

}
