.containerIndex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    background-image: url(../img/background/background.jpg);
   
}

.categoria{
    margin: 3% 2%;
    display:block;
    -webkit-transition:-webkit-transform 0.5s ease-out;
    -moz-transition:-moz-transform 0.5s ease-out;
    -o-transition:-o-transform 0.5s ease-out;
    -ms-transition:-ms-transform 0.5s ease-out;
    transition:transform 0.5s ease-out;
}

.categoria:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.categoria img {
    border-radius: 25px;
    width: 50vh;
    height: 60vh;
    margin: 11px;
}

.categoria a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 1000px rgb(209 208 204);
}

.categoria p {
    font-size: 18px;
    font-weight: bold;
    color:#13202F
}
.banner{
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 2px;
    box-sizing: border-box;
    justify-content: center;
    color: whitesmoke
    
}  
.img-banner{
    height: inherit;
    position: absolute;
    align-items: center;
    width: 100%;
}

.banner-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .2em solid whitesmoke; 
    height: 50%;
    width: 25%;
    margin-top: 7.5%;
    font-size: 25px;
}
.banner-description{
    color: whitesmoke;
    
}




/* mediasquerys */

@media (max-width: 479px) {
.categoria img {
    width: 30vh;
    height: 30vh;
    margin: 2.5px;
}

.categoria p {
    font-size: 15px;
}
.banner-text {
    width: 325px;
    margin-top: 135px;


}
}

  
@media (min-width: 480px) and (max-width: 799px) {
.categoria img {
    width: 40vh;
    height: 45vh;
    margin: 3px;
}
.categoria p {
    font-size: 15px;
}
.banner-text {
    width: 380px;

}
}


  
@media (min-width: 800px) and (max-width: 1023px) {
    .banner-text {
        width: 380px;
    
    }
}
  
@media (min-width: 1024px) {
.banner-text{
    width: 380px;

}
}
