.containerListProduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    background-image: url(../img/background/background.jpg);
}

.producto{
    margin: 2% 2%;
    border-radius: 15px;
    display: block;
    -webkit-transition:-webkit-transform 0.5s ease-out;
    -moz-transition:-moz-transform 0.5s ease-out;
    -o-transition:-o-transform 0.5s ease-out;
    -ms-transition:-ms-transform 0.5s ease-out;
    transition:transform 0.5s ease-out;
}

.producto:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
}

.producto img {
    width: 35vh;
    height: 45vh;
    margin: 10px;
    border-radius: 15px;
}

.producto a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 1000px rgb(209 208 204);
}

.producto div p {
    font-size: 18px;
    text-align: center;
    margin: 20% 0;
    font-weight: bold;
    color:#0e141a;
}

/* mediasquerys */

@media (max-width: 479px) {
    .producto img {
        width: 30vh;
        height: 30vh;
        margin: 2.5px;
    }
    
    .producto div p {
        font-size: 15px;
    }
}
      
@media (min-width: 480px) and (max-width: 799px) {

    .producto div p {
        font-size: 15px;
    }
}
    
@media (min-width: 800px) and (max-width: 1023px) {

}
    
@media (min-width: 1024px) {

}