<!DOCTYPE html>

<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <meta name="”viewport”" content="”with-device.wid" th, initial-scale="1”" />

    <!-- fuente playfair -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />

    <!-- link a font awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />

    <!-- link a hoja de estilos -->
    <link href="/css/styles.css" rel="stylesheet"/>
  </head>
  <title>Be Elegant Men</title>
  <body>

    <header>
      <section class="sec-header-superior">
          <a class="img-logo" href="/"><img src="\img\logo09.jpg" alt="logo"></a>
          <nav class="navbar-usuario">
              <form class="form-busqeda" action="" method="">
                  <input type="search">
                  <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
              <abbr title="Tus Articulos"><a class="link-compras" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></abbr>
              <abbr title="Ingresa a tu Cuenta"><a class="link-login" href="/login"><i class="fa-solid fa-user"></i></a></abbr>
          </nav>
      </section>
      <section class="sec-header-inferior">
          <nav class="navbar-categorias">
              <a href="">Ambos</a>
              <a href="">Pantalones de Vestir</a>
              <a href="">Camisas</a>
              <a href="">Sacos Informales</a>
              <a href="">Zapatos</a>
              <a href="">Corbatas</a>
          </nav>
      </section>
    </header>

    <main>
      <h2>Nuestros Productos</h2>
      <section class="container-body">
        <article class="producto">
          <a href="/productDetail">
            <img src="img/product_detail/ambo.PNG" alt="ambo"/>
            <h4>Ambos</h4>
          </a>
        </article>
        <article class="producto">
          <a href="">
            <img src="img/product_detail/pantalon_vestir_3.PNG" alt="pantalon_vestir"/>
            <p>Pantalones de vestir</p>
          </a>
        </article>
        <article class="producto">
          <a href="">
            <img src="img/product_detail/camisa_5.png" alt="camisa"/>
            <p>Camisas</p>
          </a>
        </article>
      </section>
      <section class="container-body">
        <article class="producto">
          <a href="">
            <img src="img/product_detail/saco_3.PNG" alt="saco" />
            <p>Sacos informales</p>
          </a>
        </article>
        <article class="producto">
          <a href="">
            <img src="img/product_detail/zapatos_3.PNG" alt="zapatos" />
            <p>Zapatos</p>
          </a>
        </article>
        <article class="producto">
          <a href="">
            <img src="img/product_detail/corbata_7.png" alt="corbata" />
            <p>Corbatas</p>
          </a>
        </article>
      </section>
    </main> 

    <footer class= "footer"> 
      <H1 class="titulo">BE ELEGANT MEN</H1>
      <li class="lista">
          <ul><a class="link" href="#">Tienda</ul></a>
          <ul><a class="link" href="#">Historia</ul></a>
          <ul><a class="link" href="#">Contacto</ul></a>
          <ul><a class="link" href="#">Ayuda</ul></a>
      </li>
      <div class="social">
          <ul class="icon-list">
              <li><a href="#"></li><i class="fab fa-instagram"></i></a>
              <li><a href="#"></li><i class="fab fa-facebook"></i></a>
              <li><a href="#"></li><i class="fab fa-pinterest"></i></a>
              <li><a href="#"></li><i class="fab fa-twitter"></i></a>
          </ul>
      </div>
      <div class="derechos">
          <ul>© 2022 Be Elegant Men</ul>
          <ul>Terminos de servicio</ul>
          <ul>Politica de privacidad</ul>
      </div>
    </footer>
    
  </body>
</html>