<footer class= "footer"> 
    <H1 class="titulo">BE ELEGANT MEN</H1>
    <div class="lista">
        <a class="texto" href="/users/contact">Contacto</a>
        <a class="texto" href="#">FAQs</a>
    </div>
    <div class="iconList">
        <a class="iconos" href="#"><i class="fab fa-instagram"></i></a>
        <a class="iconos" href="#"><i class="fab fa-facebook"></i></a>
        <a class="iconos" href="#"><i class="fab fa-whatsapp"></i></a>
        <a class="iconos" href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="derechos">
        <a class="texto" href="#">© 2022 Be Elegant Men</a>
        <a class="texto" href="#">Politica de privacidad</a>
    </div>
</footer>