<header>
    <section class="sectionHeaderSuperior">
        <a class="contenedorImg" href="/"><img class="imgLogo" src="\img\logos\logo10.png" alt="logo"></a>
        <h2><a href="/">Be Elegant Men</a></h2>
        <div class="divBusqueda">
            <form action="/products/search" method="get">
                <input type="text" placeholder=" Buscar productos..." name="search" id="search" list="suggestions" autocomplete="on">
                <datalist id="suggestions"></datalist>
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <nav class="menuHamburguesa">
            <input type="checkbox" id="menu">
            <label for="menu">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul>
            <li>
                <a href="/users/login">
                    <% if (locals.isLogged) { %>
                        <p><%= locals.userLogged.first_name %></p>
                    <% } else {%>
                        <i class="fa-solid fa-user"></i>
                    <% } %>
                </a>
            </li>
            <li><a href="/users/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <nav class="navbarUsuario">
                <a href="/users/login">
                    <% if (locals.isLogged) { %>
                        <p>Bienvenid@ <%= locals.userLogged.first_name %></p> 
                    <% } else {%>
                        <i class="fa-solid fa-user"></i>
                    <% } %>
                </a>
            <a href="/users/cart"><i class="fa-solid fa-cart-shopping"></i></a>          
        </nav>
    </section>
    <nav class="navbarCategorias">
        <a href="/products/list/">Todos</a>
        <% let categories = ["Ambos", "Camisas", "Corbatas", "Pantalones", "Sacos", "Zapatos"] %> 
        <% for( let i = 1; i <= categories.length; i++ ) { %>
            <a href="/products/list/<%= i %>"> <%= categories[i - 1]%> </a>
        <% } %>
    </nav> 
</header>