<%- include('../partials/head.ejs') %>

   <body>

        <%- include('../partials/header.ejs') %>

        <main>
            <div class="CartContainer">
                <div class="Header">
                    <h3 class="Heading">Shopping Cart</h3>
                    <h5 class="Action">Remover</h5>
                </div>
            
                <div class="Cart-Items">
                    <div class="image-box">
                        <img class="imagen1" src="\img\product_detail\saco1.png" height="200px" width="150px">
                    </div>
                    <div class="about">
                        <h1 class="title">Chaqueta Clasico Azul</h1>
                        <h3 class="subtitle">Slim / 34 / Large</h3>
                    </div>
                    <div class="counter">
                        <div class="btn">+</div>
                        <div class="count">2</div>
                        <div class="btn">-</div>
                    </div>
                    <div class="prices">
                        <div class="amount">$50</div>
                        <div class="save"><u>Guardar</u></div>
                        <div class="remove"><u>Remover</u></div>
                    </div>
                </div>
            
                <div class="Cart-Items pad">
                    <div class="image-box">
                        <img class="imagen1" src="\img\product_detail\pantalon2.png" height="200px" width="100px">
                    </div>
                    <div class="about">
                        <h1 class="title">Pantalon Clasico Negro</h1>
                        <h3 class="subtitle">Slim / 27 / Short</h3>
                    </div>
                    <div class="counter">
                        <div class="btn">+</div>
                        <div class="count">1</div>
                        <div class="btn">-</div>
                    </div>
                    <div class="prices">
                        <div class="amount">$45</div>
                        <div class="save"><u>Guardar</u></div>
                        <div class="remove"><u>Remover</u></div>
                    </div>
                </div>
                    
                <hr> 
                <div class="checkout">
                    <div class="total">
                        <div>
                            <div class="Subtotal">Sub-Total</div>
                            <div class="items">2 items</div>
                        </div>
                        <div class="total-amount">$95</div>
                    </div>
                    <button class="button">Continuar al Pago</button></div>
                </div>
        </main>
        
        <footer class= "footer"> 
            <H1 class="titulo">BE ELEGANT MEN</H1>
            <li class="lista">
                <ul><a class="link" href="#">Tienda</ul></a>
                <ul><a class="link" href="#">Historia</ul></a>
                <ul><a class="link" href="#">Contacto</ul></a>
                <ul><a class="link" href="#">Ayuda</ul></a>
            </li>
            <div class="social">
                <ul class="icon-list">
                    <li><a href="#"></li><i class="fab fa-instagram"></i></a>
                    <li><a href="#"></li><i class="fab fa-facebook"></i></a>
                    <li><a href="#"></li><i class="fab fa-pinterest"></i></a>
                    <li><a href="#"></li><i class="fab fa-twitter"></i></a>
                </ul>
            </div>
            <div class="derechos">
                <ul>© 2022 Be Elegant Men</ul>
                <ul>Terminos de servicio</ul>
                <ul>Politica de privacidad</ul>
            </div>
        </footer>
    </body>
</html>