<%- include('../partials/head.ejs') %>
  
    <body>

        <%- include('../partials/header.ejs') %>
        
        <main class="cuerpo-login">
            <h2>Ingresa a tu cuenta</h2>
            <form class="formulario-login"action="" method="post">
                <input type="text" id="email" name="email_usuario" placeholder="Correo Electronico">
                <input type="password" id="contrase単a" name="contrase単a_usuario" placeholder="Contrase単a">
                <button type="submit">Ingresar</button>
            </form>
            <a href="#">Olvidaste tu contrase単a?</a>
            <a href="\register.ejs">Aun no tenes tu cuenta? Creala ahora</a>
        </main>
    </body>
</html>