<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-profile">
            <picture class="contenedor-avatar">
                <img class="avatar" src="/img/users/default.png" alt="Imagen de Usuario">
            </picture>
            <section class="sec-profile">
                <form action="" method="">
                    <fieldset>
                        <legend>Informacion Personal</legend>
                        <div>
                            <label for="first_name">Nombre</label>
                            <input type="text">
                        </div>
                        <div>
                            <label for="last_name">Apellido</label>
                            <input type="text">
                        </div>
                        <div>
                            <button type="submit">Editar</button>
                        </div>
                    </fieldset>
                </form>
                <form action="" method="">
                    <fieldset>
                        <legend>Informacion de Usuario</legend>
                        <label for="email">Correo Electronico</label>
                        <input type="email">
                        <div>
                            <button type="submit">Editar</button>
                        </div>
                    </fieldset>
                </form>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>