<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-register">
            <h1>Crea tu cuenta</h1>
            <form class="formulario-register" action="/users/register" method="post" enctype="multipart/form-data">
                <section>
                    <input type="text" id="firstName" name="firstName" placeholder="Nombre/s" required>
                    <input type="text" id="lastName" name="lastName" placeholder="Apellido/s" required>
                </section>
                <section>
                    <input class="input-email" type="email" id="email" name="email" placeholder="Correo Electrónico" required>
                </section>
                <section>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    <input type="password" id="repeat-pass" name="repetirPassword" placeholder="Confirmar Contraseña" required>
                </section>
                <div>
                    <label>Tipo de Usuario:</label>
                    <div>
                    <input type="radio" id="comprador" name="tipoUsuario" value="Comprador" checked>
                    <label for="comprador">Comprador</label>
                    <input type="radio" id="vendedor" name="tipoUsuario" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                    </div>
                </div>
                <div class="file-select" id="image" >
                    <input type="file" name="image" aria-label="Archivo">
                  </div>
                <section>
                    <button type="submit">Crear usuario</button>
                </section>
            </form>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>