<%- include('../partials/head.ejs') %>
  
    <body>

        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-register">
            <h1>Crea tu cuenta</h1>
            <form class="formulario-register" action="" method="post">
                <section>
                    <input type="text" id="nombre" name="nombre_usuario" placeholder="Nombre/s">
                    <input type="text" id="apellido" name="apellido_usuario" placeholder="Apellido">
                </section>
                <section>
                    <input class="input-email" type="email" id="email" name="email_usuario" placeholder="Correo Electrónico">
                </section>
                <section>
                    <input type="password" id="pass" name="contraseña_usuario" placeholder="Contraseña">
                    <input type="password" id="repeat-pass" name="repetircontraseña_usuario" placeholder="Confirmar Contraseña">
                </section>
                <section>
                    <button type="submit">Crear</button>
                </section>
            </form>
        </main>
        
        
        <%- include('../partials/footer.ejs') %>
    
    
    </body>
</html>