<%- include('../partials/head.ejs') %>
  
    <body>

        <%- include('../partials/header.ejs') %>
        <main class="cuerpo-register">
            <h1>Crea tu cuenta</h1>
            <form class="formulario-register" action="" method="post">
                <section>
                    <input type="text" id="nombre" name="nombre_usuario" placeholder="Nombre/s">
                    <input type="text" id="apellido" name="apellido_usuario" placeholder="Apellido">
                </section>
                <section>
                    <input class="input-email" type="email" id="email" name="email_usuario" placeholder="Correo Electrónico">
                </section>
                <section>
                    <input type="password" id="pass" name="contraseña_usuario" placeholder="Contraseña">
                    <input type="password" id="repeat-pass" name="repetircontraseña_usuario" placeholder="Confirmar Contraseña">
                </section>
                <section>
                    <button type="submit">Crear</button>
                </section>
            </form>
        </main>
        <footer class= "footer"> 
            <H1 class="titulo">BE ELEGANT MEN</H1>
            <li class="lista">
                <ul><a class="link" href="#">Tienda</ul></a>
                <ul><a class="link" href="#">Historia</ul></a>
                <ul><a class="link" href="#">Contacto</ul></a>
                <ul><a class="link" href="#">Ayuda</ul></a>
            </li>
            <div class="social">
                <ul class="icon-list">
                    <li><a href="#"></li><i class="fab fa-instagram"></i></a>
                    <li><a href="#"></li><i class="fab fa-facebook"></i></a>
                    <li><a href="#"></li><i class="fab fa-pinterest"></i></a>
                    <li><a href="#"></li><i class="fab fa-twitter"></i></a>
                </ul>
            </div>
            <div class="derechos">
                <ul>© 2022 Be Elegant Men</ul>
                <ul>Terminos de servicio</ul>
                <ul>Politica de privacidad</ul>
            </div>
        </footer>
    </body>
</html>