

<footer class= "footer"> 
    <H1 class="titulo">BE ELEGANT MEN</H1>
    <ul class="lista">
        <li><a class="texto" href="#">Tienda</li></a>
        <li><a class="texto" href="#">Historia</li></a>
        <li><a class="texto" href="#">Contacto</li></a>
        <li><a class="texto" href="#">Ayuda</li></a>
    </ul>
    <div class="social">
        <ul class="icon-list">
            <li><a href="#"></li><i class="fab fa-instagram"></i></a>
            <li><a href="#"></li><i class="fab fa-facebook"></i></a>
            <li><a href="#"></li><i class="fab fa-pinterest"></i></a>
            <li><a href="#"></li><i class="fab fa-twitter"></i></a>
        </ul>
    </div>
    <div class="derechos">
        <ul>© 2022 Be Elegant Men</ul>
        <ul>Terminos de servicio</ul>
        <ul>Politica de privacidad</ul>
    </div>
  </footer>