<footer class= "footer"> 
    <H1 class="titulo">BE ELEGANT MEN</H1>
    <div class="lista">
        <a class="texto" href="#">Tienda</a>
        <a class="texto" href="#">Historia</a>
        <a class="texto" href="#">Contacto</a>
        <a class="texto" href="#">Ayuda</a>
    </div>
    <div class="icon-list">
        <a class="iconos" href="#"><i class="fab fa-instagram"></i></a>
        <a class="iconos" href="#"><i class="fab fa-facebook"></i></a>
        <a class="iconos" href="#"><i class="fab fa-pinterest"></i></a>
        <a class="iconos" href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="derechos">
        <a class="texto" href="#">© 2022 Be Elegant Men</a>
        <a class="texto" href="#">Terminos de servicio</a>
        <a class="texto" href="#">Politica de privacidad</a>
    </div>
</footer>