<header>
    <section class="sec-header-superior">
        <a class="contenedor-img" href="/"><img class="img-logo" src="\img\logo09.jpg" alt="logo"></a>
        <form class="form-busqueda" action="" method="">
            <input type="search" placeholder="Encontrá lo que estas buscando...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav class="navbar-usuario">
            <a class="link-compras" href="../users/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="link-login" href="../users/login"><i class="fa-solid fa-user"></i></a>
            <a class="link-favoritos" href="../users/login"><i class="fa-solid fa-heart"></i></i></a>
        </nav>
    </section>
    <nav class="navbar-categorias">
        <a href="">Ambos</a>
        <a href="">Pantalones de Vestir</a>
        <a href="">Camisas</a>
        <a href="">Sacos Informales</a>
        <a href="">Zapatos</a>
        <a href="">Corbatas</a>
    </nav>
</header>