<header>
    <section class="sec-header-superior">
        <a class="contenedor-img" href="/"><img class="img-logo" src="\img\logo10.png" alt="logo"></a>
        <h2><a href="/">Be Elegant Men</a></h2>
        <form class="form-busqueda" action="" method="">
            <input type="search" placeholder="Encontrá lo que estas buscando...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav class="navbar-usuario">
            <a class="link-login" href="../users/login"><i class="fa-solid fa-user"></i></a>
            <a class="link-compras" href="../users/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="link-favoritos" href="../users/login"><i class="fa-solid fa-heart"></i></i></a>
        </nav>
        <a class="icono-menu" href=""><i class="fa-solid fa-bars"></i></a>  
    </section>
    <nav id="menu">
        <ul>
            <li><a href="#">Ambos</a>
                <ul>
                    <li><a href="#">Ambos 1</a></li>
                    <li><a href="#">Ambos 2</a></li>
                    <li><a href="#">Ambos 3</a></li>
                </ul>
            </li>
            <li><a href="#">Pantalones de Vestir</a>
                <ul>
                    <li><a href="#">Pantalones de Vestir 1</a></li>
                    <li><a href="#">Pantalones de Vestir 2</a></li>
                    <li><a href="#">Pantalones de Vestir 3</a></li>
                </ul>
            </li>
            <li><a href="#">Camisas</a>
                <ul>
                    <li><a href="#">Camisas 1</a></li>
                    <li><a href="#">Camisas 2</a></li>
                    <li><a href="#">Camisas 3</a></li>
                </ul>
            </li>
            <li><a href="#">Sacos Informales</a>
                <ul>
                    <li><a href="#">Sacos Informales 1</a></li>
                    <li><a href="#">Sacos Informales 2</a></li>
                    <li><a href="#">Sacos Informales 3</a></li>
                </ul>
            </li>
            <li><a href="#">Zapatos</a>
                <ul>
                    <li><a href="#">Zapatos 1</a></li>
                    <li><a href="#">Zapatos 2</a></li>
                    <li><a href="#">Zapatos 3</a></li>
                </ul>
            </li>
            <li><a href="#">Corbatas</a>
                <ul>
                    <li><a href="#">Corbatas 1</a></li>
                    <li><a href="#">Corbatas 2</a></li>
                    <li><a href="#">Corbatas 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>