<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name=”viewport” content=”with-device.wid th, initial-scale= 1”>

        <!-- fuente playfair -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

        <!-- link a font awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
   
        <!-- link a hoja de estilos -->
        <link href="/css/styles.css" rel="stylesheet">
        <title>Be Elegant Men</title>
    </head>