<header>
    <section class="sec-header-superior">
        <a class="contenedor-img" href="/"><img class="img-logo" src="\img\logos\logo10.png" alt="logo"></a>
        <h2><a href="/">Be Elegant Men</a></h2>
        <div class="div-busqueda">
            <form action="#" method="get">
                <input type="text" placeholder=" Buscar..." name="search">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <nav class="menu-hamburguesa">
            <input type="checkbox" id="menu">
            <label for="menu">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul>
              <li><a href="../users/login"><i class="fa-solid fa-user"></i></a></li>
              <li><a href="../users/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
              <li><a href="../products/create"><i class="fa-solid fa-circle-plus"></i></i></a></li>
            </ul>
        </nav>
        <nav class="navbar-usuario">
            <a href="/users/login"><i class="fa-solid fa-user"></i></a>
            <a href="/users/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="/products/create"><i class="fa-solid fa-circle-plus"></i></i></a>
        </nav>
    </section>
    <nav class="navbar-categorias">
        <a href="/products/list/">Todos</a>
        <a href="/products/list/Ambos">Ambos</a>
        <a href="/products/list/Pantalones">Pantalones</a>
        <a href="/products/list/Camisas">Camisas</a>
        <a href="/products/list/Sacos">Sacos</a>
        <a href="/products/list/Zapatos">Zapatos</a>
        <a href="/products/list/Corbatas">Corbatas</a>
    </nav> 
</header>